@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
 font-family: 'Permanent Marker';
 color: #fff;
 margin: 0;
 padding: 0; 
}
.containerPersonagem{
  background-color: lawngreen;
}
.personagens {
  display: inline-table;
}